// Importing Tailwind stylings
@tailwind base;
@tailwind components;
@tailwind utilities;

// Loading fonts
@font-face {
    font-family: 'Space Grotesk';
    src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend Giga';
    src: url('../assets/fonts/LexendGiga/LexendGiga-VariableFont_wght.ttf') format('truetype');
}

.header-menu {
    .menu {
        display: flex;
        justify-content: center;

        li {
            padding: 5px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.footer-menu {
    .menu {
        display: flex;
        justify-content: center;

        li {
            padding: 5px;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.socialMedia_icons__wrapper {
    a {
        margin-right: 20px;
    }
}

.footer_navigation__wrapper {
    clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%);
}

.heroBackground {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -5%;
}

.homepageHero_heading {
    font-size: 62px;
    line-height: normal;
}

.heading_greenUnderline {
    position: relative;
}

.heading_greenUnderline::after {
    content: "";
    display: block;
    width: 70px;  /* The width of the line */
    height: 2px;  /* The height of the line */
    background-color: #CFF15C;  /* Color of the line */
    margin: 25px auto 0;  /* Space between heading and line */
    position: relative;
}

.processOverview_cards__counter {
    font-size: 88px;
    letter-spacing: -0.08em;
}

.processCard_wrapper {
    min-height: 320px;
}

.headingGreen_underline__start::after {
    content: "";
    display: block;
    width: 70px;  /* The width of the line */
    height: 2px;  /* The height of the line */
    background-color: #CFF15C;  /* Color of the line */
    margin: 25px 0 0;  /* Space between heading and line */
    position: relative;
}